*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f0f0f;
    color:white;
}
/*foto do usuario*/
.user{
  width: 25px;
  border-radius: 0 20px 0 20px;
  
}
header{
    height:60px;
    background:#202020;
    display:flex;
    align-items:center;
    padding:0 20px;
    gap:20px;
}

#menu{
    background:none;
    border:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

.logo{
    color:red;
}

input{
    margin-left:auto;
    width:300px;
    padding:10px;
    border:none;
    border-radius:20px;
    background:#303030;
    color:white;
}
/* A barra de baixo */
  .bottom-nav {
    position: fixed; /* fica fixa na tela */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #0f0f0f;
    border-top: 1px solid #0f0f0f;
    display: flex;
    justify-content: space-around; /* distribui os itens */
    align-items: center;
    z-index: 1000; /* fica por cima de tudo */
  }

  /* Cada botão */
  .nav-item {
    display: flex;
    flex-direction: column; /* ícone em cima, texto embaixo */
    align-items: center;
    text-decoration: none;
    color: #606060; /* cinza inativo */
    font-size: 10px;
    flex: 1;
  }

  .nav-item svg {
    width: 24px;
    height: 24px;
    margin-bottom: 3px;
    stroke: #606060;
  }

  /* Item ativo - igual YouTube */
  .nav-item.active {
    color: #000;
  }
  .nav-item.active svg {
    stroke: #000;
    fill: #000;
  }
/*lupa de pesquisa*/
.pesquisa{
margin-left: 150px;
}

/* Barra lateral */

aside{
    position:fixed;
    left:-250px;
    top:60px;
    width:250px;
    height:100%;
    background:#181818;
    transition:.3s;
    padding-top:20px;
}

aside.ativo{
    left:0;
}

aside a{
    display:block;
    padding:15px;
    color:white;
    text-decoration:none;
}

aside a:hover{
    background:#303030;
}

main{
    padding:30px;
}

.card{
    background:#202020;
    margin-bottom:20px;
    padding:15px;
    border-radius:10px;
}
/*imagem dentro do card*/
.noticia{
  width: 150px;
  padding: 10px;
  border-radius:20px
}
/* Barra de ações */
.card-actions {
  display: flex;
  justify-content: space-around; /* distribui os 3 botões */
  border-top: 1px solid #303030;
  padding-top: 8px;
  margin-top: 10px;
}

.action-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  color: #AAAAAA;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
  justify-content: center;
}

.action-btn svg {
  width: 18px;
  height: 18px;
}

/* Efeito hover igual Facebook */
.action-btn:hover {
  background: #303030;
  color: white;
}

/* Quando clicar em curtir */
.action-btn.liked {
  color: #1877F2; /* azul do Facebook */
}
.action-btn.liked svg {
  fill: #1877F2;
  stroke: #1877F2;
}
